
@{
    ViewBag.Title = "Xoá người giao hàng";
}


<!-- Hiển thị nổi -->
<div class="modal fade" id="deleteShipperModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@ViewBag.Title</h4>
            </div>
            <form>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label">Tên người giao hàng:</label>
                        <p class="form-control-static">Tên người giao hàng</p>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Số điện thoại:</label>
                        <p class="form-control-static">Số điện thoại</p>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10 text-right">

                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-trash" style="margin-right: 2px;"></i> Xoá dữ liệu
                            </button>

                            <a class="btn btn-default" data-dismiss="modal">
                                Quay lại
                            </a>

                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
