@model _20T1080009.Web.Models.PaginationSearchInput
@{
    string errorMessage = ViewBag.ErrorMessage.ToString() ?? "";
}

<div class="box box-primary">
    <div class="box-body">
        @*Hiển thị lỗi ở đây nếu có*@
        @if (!string.IsNullOrWhiteSpace(errorMessage)) {
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Lỗi!</strong> @errorMessage
            </div>
        }
        @*thành phần tìm kiếm*@
        <form id="formSearch" action="~/Shipper/Search">
            <div class="input-group">
                <input type="hidden" name="pageSize" value="@Model.PageSize" />
                <input type="text" class="form-control" name="searchValue" value="@Model.SearchValue" placeholder="Tìm kiếm..." autofocus>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                        Tìm kiếm
                    </button>

                    @*Nút thêm dữ liệu*@
                    @*<a href="~/Shipper/Create" class="btn btn-primary" style="margin-left: 5px;">
                        <i class="fa fa-plus" style="margin-right: 2px;"></i> Bổ sung
                    </a>*@
                    <button class="btn btn-primary" onclick="showShipperModal('/Shipper/Create')"
                            onmouseover="showShipperModal('/Shipper/Create')"
                            data-toggle="modal" data-target="#shipperModal-0" style="margin-left: 5px;">
                        <i class="fa fa-plus" style="margin-right: 2px;"></i> Bổ sung
                    </button>
                </div>
            </div>
        </form>

        @*Kết quả tìm kiếm*@
        <div id="searchResult"></div>
    </div>
</div>
<div id="shipperLayoutModal"></div>
@section scripts {
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return;
            });
            doSearch(@Model.Page);
        })
        function doSearch(page) {
            var url = $("#formSearch").prop("action");
            var postData = $("#formSearch").serializeArray();
            postData.push({ "name": "page", "value": page });
            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });

            return;
        }
        // Mở modal
        function showShipperModal(url, result = "#shipperLayoutModal") {
            $.ajax({
                url: url,
                type: "GET",
                success: function (data) {
                    $(result).append(data);
                }
            });
            $('.modal').on('shown.bs.modal', function () {
                $(this).find('[autofocus]').focus();
                var input = $("input[autofocus=true]");
                var len = input.val().length;
                input[0].focus();
                input[0].setSelectionRange(len, len);
            });
            return;
        }
    </script>
}